@model CHSAuction.Entities.ItemBid

@{
    ViewBag.Title = "Create";
}

<h2 hidden>Your Bid for this item is:</h2>

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="bidForm">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>New Bid</legend>
                        <div class="col-md-10">
                            <div>
                                <strong>Your previous bids were: </strong>@Html.Action("BidHistory", "Bids", new { id = @Model.ItemId })
                            </div>
                            <div>The minimum bid for this item is:
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Bid, "{0:c}", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Bid)
                            </div>
                        </div>

                    <p>
                        <input type="submit" value="Submit My Bid" class="btn btn-default"/>
                    </p>
                </fieldset>
            }
        </section>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>
